<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>TABLE DE AMORTIZACION</title>
    </head>
    <body>
        
        <h1>AMORTIZACIONES DISPONIBLES</h1>
        <a th:href="@{/prestamo}">Volver</a>
        <ul th:each="amortizacion : ${amortizaciones}">
        	<li><a th:href="@{/amortizaciones/{amortizacionId}(amortizacionId=${amortizacion})}" th:text="${amortizacion}"></a></li>
        </ul>		
    </body>
</html>
